* {
  margin: 0;
  padding: 0; }

.b, .c {
  display: inline-block; }

.b {
  background-image: url(imgDest/popbtns.png);
  width: 116px;
  height: 39px;
  content: "temp bgp =>116 39 363 132 4825 1315"; }
  .b:hover {
    background-image: url(imgDest/popbtns.png);
    width: 116px;
    height: 39px;
    content: "temp bgp =>116 39 484 176 4825 1315"; }

.c {
  background-image: url(imgDest/popbtns.png);
  width: 196px;
  height: 39px;
  content: "temp bgp =>196 39 4227 1188 4825 1315"; }
  .c:hover {
    background-image: url(imgDest/popbtns.png);
    width: 196px;
    height: 39px;
    content: "temp bgp =>196 39 4026 1144 4825 1315"; }
