@mixin btns_back-h($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 203px;
  height: 168px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(168/203);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(203/168);
      height:$mh;
    }
  }
  @include bgp(203,168,0,743,216,4759);
}

@function  btns_back-h_inspect() {
  $ix:0px;
  $x:0;
  $y:743;
  $iy:-743px;
  $iw:203px;
  $ih:168px;
  $width:203;
  $height:168;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_back($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 203px;
  height: 168px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(168/203);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(203/168);
      height:$mh;
    }
  }
  @include bgp(203,168,0,916,216,4759);
}

@function  btns_back_inspect() {
  $ix:0px;
  $x:0;
  $y:916;
  $iy:-916px;
  $iw:203px;
  $ih:168px;
  $width:203;
  $height:168;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_chou-d($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 161px;
  height: 46px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(46/161);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(161/46);
      height:$mh;
    }
  }
  @include bgp(161,46,0,427,216,4759);
}

@function  btns_chou-d_inspect() {
  $ix:0px;
  $x:0;
  $y:427;
  $iy:-427px;
  $iw:161px;
  $ih:46px;
  $width:161;
  $height:46;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_chou-h($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 161px;
  height: 46px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(46/161);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(161/46);
      height:$mh;
    }
  }
  @include bgp(161,46,0,529,216,4759);
}

@function  btns_chou-h_inspect() {
  $ix:0px;
  $x:0;
  $y:529;
  $iy:-529px;
  $iw:161px;
  $ih:46px;
  $width:161;
  $height:46;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_chou($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 161px;
  height: 46px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(46/161);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(161/46);
      height:$mh;
    }
  }
  @include bgp(161,46,0,376,216,4759);
}

@function  btns_chou_inspect() {
  $ix:0px;
  $x:0;
  $y:376;
  $iy:-376px;
  $iw:161px;
  $ih:46px;
  $width:161;
  $height:46;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_other-h($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 212px;
  height: 45px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(45/212);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(212/45);
      height:$mh;
    }
  }
  @include bgp(212,45,0,226,216,4759);
}

@function  btns_other-h_inspect() {
  $ix:0px;
  $x:0;
  $y:226;
  $iy:-226px;
  $iw:212px;
  $ih:45px;
  $width:212;
  $height:45;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_other($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 212px;
  height: 45px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(45/212);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(212/45);
      height:$mh;
    }
  }
  @include bgp(212,45,0,326,216,4759);
}

@function  btns_other_inspect() {
  $ix:0px;
  $x:0;
  $y:326;
  $iy:-326px;
  $iw:212px;
  $ih:45px;
  $width:212;
  $height:45;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_part-h($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 214px;
  height: 46px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(46/214);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(214/46);
      height:$mh;
    }
  }
  @include bgp(214,46,0,478,216,4759);
}

@function  btns_part-h_inspect() {
  $ix:0px;
  $x:0;
  $y:478;
  $iy:-478px;
  $iw:214px;
  $ih:46px;
  $width:214;
  $height:46;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_part($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 214px;
  height: 46px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(46/214);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(214/46);
      height:$mh;
    }
  }
  @include bgp(214,46,0,580,216,4759);
}

@function  btns_part_inspect() {
  $ix:0px;
  $x:0;
  $y:580;
  $iy:-580px;
  $iw:214px;
  $ih:46px;
  $width:214;
  $height:46;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r1-d($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,4274,216,4759);
}

@function  btns_r1-d_inspect() {
  $ix:0px;
  $x:0;
  $y:4274;
  $iy:-4274px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r1-h($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,4029,216,4759);
}

@function  btns_r1-h_inspect() {
  $ix:0px;
  $x:0;
  $y:4029;
  $iy:-4029px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r1($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,3784,216,4759);
}

@function  btns_r1_inspect() {
  $ix:0px;
  $x:0;
  $y:3784;
  $iy:-3784px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r2-d($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,3539,216,4759);
}

@function  btns_r2-d_inspect() {
  $ix:0px;
  $x:0;
  $y:3539;
  $iy:-3539px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r2-h($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,3294,216,4759);
}

@function  btns_r2-h_inspect() {
  $ix:0px;
  $x:0;
  $y:3294;
  $iy:-3294px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r2($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,3049,216,4759);
}

@function  btns_r2_inspect() {
  $ix:0px;
  $x:0;
  $y:3049;
  $iy:-3049px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r3-d($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,1089,216,4759);
}

@function  btns_r3-d_inspect() {
  $ix:0px;
  $x:0;
  $y:1089;
  $iy:-1089px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r3-h($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,4519,216,4759);
}

@function  btns_r3-h_inspect() {
  $ix:0px;
  $x:0;
  $y:4519;
  $iy:-4519px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r3($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,1334,216,4759);
}

@function  btns_r3_inspect() {
  $ix:0px;
  $x:0;
  $y:1334;
  $iy:-1334px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r4-d($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,2804,216,4759);
}

@function  btns_r4-d_inspect() {
  $ix:0px;
  $x:0;
  $y:2804;
  $iy:-2804px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r4-h($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,1579,216,4759);
}

@function  btns_r4-h_inspect() {
  $ix:0px;
  $x:0;
  $y:1579;
  $iy:-1579px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r4($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,1824,216,4759);
}

@function  btns_r4_inspect() {
  $ix:0px;
  $x:0;
  $y:1824;
  $iy:-1824px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r5-d($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,2069,216,4759);
}

@function  btns_r5-d_inspect() {
  $ix:0px;
  $x:0;
  $y:2069;
  $iy:-2069px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r5-h($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,2314,216,4759);
}

@function  btns_r5-h_inspect() {
  $ix:0px;
  $x:0;
  $y:2314;
  $iy:-2314px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r5($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,2559,216,4759);
}

@function  btns_r5_inspect() {
  $ix:0px;
  $x:0;
  $y:2559;
  $iy:-2559px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_remind-h($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 149px;
  height: 40px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(40/149);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(149/40);
      height:$mh;
    }
  }
  @include bgp(149,40,0,131,216,4759);
}

@function  btns_remind-h_inspect() {
  $ix:0px;
  $x:0;
  $y:131;
  $iy:-131px;
  $iw:149px;
  $ih:40px;
  $width:149;
  $height:40;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_remind($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 149px;
  height: 40px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(40/149);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(149/40);
      height:$mh;
    }
  }
  @include bgp(149,40,0,86,216,4759);
}

@function  btns_remind_inspect() {
  $ix:0px;
  $x:0;
  $y:86;
  $iy:-86px;
  $iw:149px;
  $ih:40px;
  $width:149;
  $height:40;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_share-h($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 216px;
  height: 51px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(51/216);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(216/51);
      height:$mh;
    }
  }
  @include bgp(216,51,0,687,216,4759);
}

@function  btns_share-h_inspect() {
  $ix:0px;
  $x:0;
  $y:687;
  $iy:-687px;
  $iw:216px;
  $ih:51px;
  $width:216;
  $height:51;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_share($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 216px;
  height: 51px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(51/216);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(216/51);
      height:$mh;
    }
  }
  @include bgp(216,51,0,631,216,4759);
}

@function  btns_share_inspect() {
  $ix:0px;
  $x:0;
  $y:631;
  $iy:-631px;
  $iw:216px;
  $ih:51px;
  $width:216;
  $height:51;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_submit-h($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 212px;
  height: 45px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(45/212);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(212/45);
      height:$mh;
    }
  }
  @include bgp(212,45,0,276,216,4759);
}

@function  btns_submit-h_inspect() {
  $ix:0px;
  $x:0;
  $y:276;
  $iy:-276px;
  $iw:212px;
  $ih:45px;
  $width:212;
  $height:45;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_submit($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 212px;
  height: 45px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(45/212);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(212/45);
      height:$mh;
    }
  }
  @include bgp(212,45,0,176,216,4759);
}

@function  btns_submit_inspect() {
  $ix:0px;
  $x:0;
  $y:176;
  $iy:-176px;
  $iw:212px;
  $ih:45px;
  $width:212;
  $height:45;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_sure-h($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 80px;
  height: 38px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(38/80);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(80/38);
      height:$mh;
    }
  }
  @include bgp(80,38,0,43,216,4759);
}

@function  btns_sure-h_inspect() {
  $ix:0px;
  $x:0;
  $y:43;
  $iy:-43px;
  $iw:80px;
  $ih:38px;
  $width:80;
  $height:38;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_sure($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 80px;
  height: 38px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(38/80);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(80/38);
      height:$mh;
    }
  }
  @include bgp(80,38,0,0,216,4759);
}

@function  btns_sure_inspect() {
  $ix:0px;
  $x:0;
  $y:0;
  $iy:0px;
  $iw:80px;
  $ih:38px;
  $width:80;
  $height:38;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4759;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

