@mixin popbtns_exchange-h($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 116px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/116);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(116/39);
      height:$mh;
    }
  }
  @include bgp(116,39,121,0,4825,39);
}

@function  popbtns_exchange-h_inspect() {
  $ix:-121px;
  $x:121;
  $y:0;
  $iy:0px;
  $iw:116px;
  $ih:39px;
  $width:116;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_exchange($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 116px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/116);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(116/39);
      height:$mh;
    }
  }
  @include bgp(116,39,1331,0,4825,39);
}

@function  popbtns_exchange_inspect() {
  $ix:-1331px;
  $x:1331;
  $y:0;
  $iy:0px;
  $iw:116px;
  $ih:39px;
  $width:116;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_fav-h($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 116px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/116);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(116/39);
      height:$mh;
    }
  }
  @include bgp(116,39,726,0,4825,39);
}

@function  popbtns_fav-h_inspect() {
  $ix:-726px;
  $x:726;
  $y:0;
  $iy:0px;
  $iw:116px;
  $ih:39px;
  $width:116;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_fav($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 116px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/116);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(116/39);
      height:$mh;
    }
  }
  @include bgp(116,39,242,0,4825,39);
}

@function  popbtns_fav_inspect() {
  $ix:-242px;
  $x:242;
  $y:0;
  $iy:0px;
  $iw:116px;
  $ih:39px;
  $width:116;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_goact_1-h($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 196px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/196);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(196/39);
      height:$mh;
    }
  }
  @include bgp(196,39,4428,0,4825,39);
}

@function  popbtns_goact_1-h_inspect() {
  $ix:-4428px;
  $x:4428;
  $y:0;
  $iy:0px;
  $iw:196px;
  $ih:39px;
  $width:196;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_goact_1($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 196px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/196);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(196/39);
      height:$mh;
    }
  }
  @include bgp(196,39,3825,0,4825,39);
}

@function  popbtns_goact_1_inspect() {
  $ix:-3825px;
  $x:3825;
  $y:0;
  $iy:0px;
  $iw:196px;
  $ih:39px;
  $width:196;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_goact_2-h($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 196px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/196);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(196/39);
      height:$mh;
    }
  }
  @include bgp(196,39,3624,0,4825,39);
}

@function  popbtns_goact_2-h_inspect() {
  $ix:-3624px;
  $x:3624;
  $y:0;
  $iy:0px;
  $iw:196px;
  $ih:39px;
  $width:196;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_goact_2($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 196px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/196);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(196/39);
      height:$mh;
    }
  }
  @include bgp(196,39,2016,0,4825,39);
}

@function  popbtns_goact_2_inspect() {
  $ix:-2016px;
  $x:2016;
  $y:0;
  $iy:0px;
  $iw:196px;
  $ih:39px;
  $width:196;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_goact_3-h($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 196px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/196);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(196/39);
      height:$mh;
    }
  }
  @include bgp(196,39,3222,0,4825,39);
}

@function  popbtns_goact_3-h_inspect() {
  $ix:-3222px;
  $x:3222;
  $y:0;
  $iy:0px;
  $iw:196px;
  $ih:39px;
  $width:196;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_goact_3($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 196px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/196);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(196/39);
      height:$mh;
    }
  }
  @include bgp(196,39,3021,0,4825,39);
}

@function  popbtns_goact_3_inspect() {
  $ix:-3021px;
  $x:3021;
  $y:0;
  $iy:0px;
  $iw:196px;
  $ih:39px;
  $width:196;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_goact_4-h($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 196px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/196);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(196/39);
      height:$mh;
    }
  }
  @include bgp(196,39,2820,0,4825,39);
}

@function  popbtns_goact_4-h_inspect() {
  $ix:-2820px;
  $x:2820;
  $y:0;
  $iy:0px;
  $iw:196px;
  $ih:39px;
  $width:196;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_goact_4($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 196px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/196);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(196/39);
      height:$mh;
    }
  }
  @include bgp(196,39,2619,0,4825,39);
}

@function  popbtns_goact_4_inspect() {
  $ix:-2619px;
  $x:2619;
  $y:0;
  $iy:0px;
  $iw:196px;
  $ih:39px;
  $width:196;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_goact_5-h($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 196px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/196);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(196/39);
      height:$mh;
    }
  }
  @include bgp(196,39,2418,0,4825,39);
}

@function  popbtns_goact_5-h_inspect() {
  $ix:-2418px;
  $x:2418;
  $y:0;
  $iy:0px;
  $iw:196px;
  $ih:39px;
  $width:196;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_goact_5($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 196px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/196);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(196/39);
      height:$mh;
    }
  }
  @include bgp(196,39,3423,0,4825,39);
}

@function  popbtns_goact_5_inspect() {
  $ix:-3423px;
  $x:3423;
  $y:0;
  $iy:0px;
  $iw:196px;
  $ih:39px;
  $width:196;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_goact_6-h($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 196px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/196);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(196/39);
      height:$mh;
    }
  }
  @include bgp(196,39,2217,0,4825,39);
}

@function  popbtns_goact_6-h_inspect() {
  $ix:-2217px;
  $x:2217;
  $y:0;
  $iy:0px;
  $iw:196px;
  $ih:39px;
  $width:196;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_goact_6($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 196px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/196);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(196/39);
      height:$mh;
    }
  }
  @include bgp(196,39,4629,0,4825,39);
}

@function  popbtns_goact_6_inspect() {
  $ix:-4629px;
  $x:4629;
  $y:0;
  $iy:0px;
  $iw:196px;
  $ih:39px;
  $width:196;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_gochou-h($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 116px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/116);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(116/39);
      height:$mh;
    }
  }
  @include bgp(116,39,1210,0,4825,39);
}

@function  popbtns_gochou-h_inspect() {
  $ix:-1210px;
  $x:1210;
  $y:0;
  $iy:0px;
  $iw:116px;
  $ih:39px;
  $width:116;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_gochou($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 116px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/116);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(116/39);
      height:$mh;
    }
  }
  @include bgp(116,39,1089,0,4825,39);
}

@function  popbtns_gochou_inspect() {
  $ix:-1089px;
  $x:1089;
  $y:0;
  $iy:0px;
  $iw:116px;
  $ih:39px;
  $width:116;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_goonchou-h($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 116px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/116);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(116/39);
      height:$mh;
    }
  }
  @include bgp(116,39,968,0,4825,39);
}

@function  popbtns_goonchou-h_inspect() {
  $ix:-968px;
  $x:968;
  $y:0;
  $iy:0px;
  $iw:116px;
  $ih:39px;
  $width:116;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_goonchou($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 116px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/116);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(116/39);
      height:$mh;
    }
  }
  @include bgp(116,39,847,0,4825,39);
}

@function  popbtns_goonchou_inspect() {
  $ix:-847px;
  $x:847;
  $y:0;
  $iy:0px;
  $iw:116px;
  $ih:39px;
  $width:116;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_goondream-h($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 136px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/136);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(136/39);
      height:$mh;
    }
  }
  @include bgp(136,39,1734,0,4825,39);
}

@function  popbtns_goondream-h_inspect() {
  $ix:-1734px;
  $x:1734;
  $y:0;
  $iy:0px;
  $iw:136px;
  $ih:39px;
  $width:136;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_goondream($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 136px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/136);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(136/39);
      height:$mh;
    }
  }
  @include bgp(136,39,1593,0,4825,39);
}

@function  popbtns_goondream_inspect() {
  $ix:-1593px;
  $x:1593;
  $y:0;
  $iy:0px;
  $iw:136px;
  $ih:39px;
  $width:136;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_gotask-h($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 116px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/116);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(116/39);
      height:$mh;
    }
  }
  @include bgp(116,39,0,0,4825,39);
}

@function  popbtns_gotask-h_inspect() {
  $ix:0px;
  $x:0;
  $y:0;
  $iy:0px;
  $iw:116px;
  $ih:39px;
  $width:116;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_gotask($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 116px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/116);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(116/39);
      height:$mh;
    }
  }
  @include bgp(116,39,605,0,4825,39);
}

@function  popbtns_gotask_inspect() {
  $ix:-605px;
  $x:605;
  $y:0;
  $iy:0px;
  $iw:116px;
  $ih:39px;
  $width:116;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_ok-h($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 116px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/116);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(116/39);
      height:$mh;
    }
  }
  @include bgp(116,39,484,0,4825,39);
}

@function  popbtns_ok-h_inspect() {
  $ix:-484px;
  $x:484;
  $y:0;
  $iy:0px;
  $iw:116px;
  $ih:39px;
  $width:116;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_ok($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 116px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/116);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(116/39);
      height:$mh;
    }
  }
  @include bgp(116,39,363,0,4825,39);
}

@function  popbtns_ok_inspect() {
  $ix:-363px;
  $x:363;
  $y:0;
  $iy:0px;
  $iw:116px;
  $ih:39px;
  $width:116;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_oktry-h($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 196px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/196);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(196/39);
      height:$mh;
    }
  }
  @include bgp(196,39,4026,0,4825,39);
}

@function  popbtns_oktry-h_inspect() {
  $ix:-4026px;
  $x:4026;
  $y:0;
  $iy:0px;
  $iw:196px;
  $ih:39px;
  $width:196;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_oktry($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 196px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/196);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(196/39);
      height:$mh;
    }
  }
  @include bgp(196,39,4227,0,4825,39);
}

@function  popbtns_oktry_inspect() {
  $ix:-4227px;
  $x:4227;
  $y:0;
  $iy:0px;
  $iw:196px;
  $ih:39px;
  $width:196;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_other-h($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 136px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/136);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(136/39);
      height:$mh;
    }
  }
  @include bgp(136,39,1452,0,4825,39);
}

@function  popbtns_other-h_inspect() {
  $ix:-1452px;
  $x:1452;
  $y:0;
  $iy:0px;
  $iw:136px;
  $ih:39px;
  $width:136;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin popbtns_other($mw:null,$mh:null) {
  background-image: url(imgDest/popbtns.png);
  width: 136px;
  height: 39px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(39/136);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(136/39);
      height:$mh;
    }
  }
  @include bgp(136,39,1875,0,4825,39);
}

@function  popbtns_other_inspect() {
  $ix:-1875px;
  $x:1875;
  $y:0;
  $iy:0px;
  $iw:136px;
  $ih:39px;
  $width:136;
  $height:39;
  $img:"imgDest/popbtns.png";
  $totalWidth:4825;
  $totalHeight:39;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

